.btnAdd{
    width: 5%;
}
.inpAdd{
    width: 85%;
}
.container{
    text-align: center;
}
.tb-pelis{
    width: 100%;
    margin: 30px;
    align-items: center;
    
}
.film-row{
    padding-bottom: 45px;
}